In [19]:
import pandas as pd

In [27]:
df=pd.read_excel("C:/Users/Admin/Downloads/DOC-20240901-WA0004..xlsx")

In [29]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,1,1,79084.10,0

In [31]:
df.tail

<bound method NDFrame.tail of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender   Age  \
0             1    15634602   Hargrave          619    France  Female  42.0
1             2    15647311       Hill          608     Spain  Female  41.0
2             3    15619304       Onio          502    France  Female  42.0
3             4    15701354       Boni          699    France  Female  39.0
4             5    15737888   Mitchell          850     Spain  Female  43.0
...         ...         ...        ...          ...       ...     ...   ...
9995       9996    15606229   Obijiaku          771    France    Male  39.0
9996       9997    15569892  Johnstone          516    France    Male  35.0
9997       9998    15584532        Liu          709    France  Female  36.0
9998       9999    15682355  Sabbatini          772   Germany    Male  42.0
9999      10000    15628319     Walker          792    France  Female  28.0

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [33]:
df.describe

<bound method NDFrame.describe of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender   Age  \
0             1    15634602   Hargrave          619    France  Female  42.0
1             2    15647311       Hill          608     Spain  Female  41.0
2             3    15619304       Onio          502    France  Female  42.0
3             4    15701354       Boni          699    France  Female  39.0
4             5    15737888   Mitchell          850     Spain  Female  43.0
...         ...         ...        ...          ...       ...     ...   ...
9995       9996    15606229   Obijiaku          771    France    Male  39.0
9996       9997    15569892  Johnstone          516    France    Male  35.0
9997       9998    15584532        Liu          709    France  Female  36.0
9998       9999    15682355  Sabbatini          772   Germany    Male  42.0
9999      10000    15628319     Walker          792    France  Female  28.0

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [35]:
df.size

140000

In [37]:
df.shape

(10000, 14)

In [39]:
df.info

<bound method DataFrame.info of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender   Age  \
0             1    15634602   Hargrave          619    France  Female  42.0
1             2    15647311       Hill          608     Spain  Female  41.0
2             3    15619304       Onio          502    France  Female  42.0
3             4    15701354       Boni          699    France  Female  39.0
4             5    15737888   Mitchell          850     Spain  Female  43.0
...         ...         ...        ...          ...       ...     ...   ...
9995       9996    15606229   Obijiaku          771    France    Male  39.0
9996       9997    15569892  Johnstone          516    France    Male  35.0
9997       9998    15584532        Liu          709    France  Female  36.0
9998       9999    15682355  Sabbatini          772   Germany    Male  42.0
9999      10000    15628319     Walker          792    France  Female  28.0

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [57]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [59]:
df.tail

<bound method NDFrame.tail of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender   Age  \
0             1    15634602   Hargrave          619    France  Female  42.0
1             2    15647311       Hill          608     Spain  Female  41.0
2             3    15619304       Onio          502    France  Female  42.0
3             4    15701354       Boni          699    France  Female  39.0
4             5    15737888   Mitchell          850     Spain  Female  43.0
...         ...         ...        ...          ...       ...     ...   ...
9995       9996    15606229   Obijiaku          771    France    Male  39.0
9996       9997    15569892  Johnstone          516    France    Male  35.0
9997       9998    15584532        Liu          709    France  Female  36.0
9998       9999    15682355  Sabbatini          772   Germany    Male  42.0
9999      10000    15628319     Walker          792    France  Female  28.0

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>